.row
  %p
    Welcome to the home of Saltwater Cowgirls Surf Camp! Since 1999, we have proudly served the Jax Beach community in Northeast Florida with quality surf instruction. 

  %p
    If you seek surf lessons from knowledgeable, skilled instructors in a comfortable envrionment, then you’ve come to the right place. Please follow the links above to learn more about the Saltwater Cowgirls Surf Camp experience!

.row
  =image_tag('/assets/HomePage_12.jpg', class: 'centered')
