%dl
  = f.label :name
  = f.text_field :name

%dl
  =f.label :age
  =f.number_field :age

%dl
  =f.label :phone
  =f.text_field :phone

%dl
  =f.label :address
  =f.text_area :address, rows: 4

%dl
  =f.label :email
  =f.email_field :email

%dl
  =f.label :emergency_contact
  =f.text_area :emergency_contact, rows: 4

%dl
  =f.label :insurance
  =f.radio_button :insurance, true
  Yes
  %br
  =f.radio_button :insurance, false
  No

%dl
  =f.label :medical_provider
  =f.text_field :medical_provider


