%p Fields with * are required

%dl
  = f.label :name, 'Name *'
  = f.text_field :name

%dl
  =f.label :age, 'Age *'
  =f.number_field :age

%dl
  =f.label :phone, 'Phone Number *'
  =f.text_field :phone

%dl
  =f.label :address
  =f.text_area :address, rows: 4

%dl
  =f.label :email, 'E-Mail *'
  %span{ class: 'form-explanation' } student/parent
  =f.email_field :email

%dl
  =f.label :emergency_contact
  %span{ class: 'form-explanation' } Name of person and phone number
  =f.text_area :emergency_contact, rows: 4

%dl
  =f.label :insurance, "Insurance *"
  =f.radio_button :insurance, true
  Yes
  %br
  =f.radio_button :insurance, false
  No

%dl
  =f.label :medical_provider, "Who is your medical Insurance Provider?"
  %span{ class: 'form-explanation' } skip if you do not have medical insurance
  =f.text_field :medical_provider


